build/
*.exe
*.obj
*.dll
*.tlog
*.recipe
.vs/
CMakeFiles/
x64/
*.user
*.sln
*.suo
.DS_Store
Thumbs.db
*.bmp
imgui.ini
_conv/
combined_character.glb
animated_character.glb
walk_cycle.glb
idle_cycle.glb
body.glb
clothed_male.glb
